

.hero{

  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
   background-size: 100% auto;
   background-repeat: no-repeat;
   overflow: hidden;
    height: 500px;
    background-color: #073B4C;
    width: auto;
}


.hero__content{
  padding-top: 100px;
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;

}

 .hero img{
  padding-top: 80px;
}

input[type=text]{
  text-align: center;
  font-size: 1em;
  border: 1px solid #A1A4B1 !important;
  width: 274px;
  height: 48px;
  border-radius: 4px !important;
  background: #FFFFFF;
  box-sizing: border-box;
}
input::placeholder{
  font-size: 12px;
  color: #A1A4B1;
}

.hero__btn{

  background: #EF476F !important;
  border-radius: 4px;
  width: 200px;
  height: 48px;
}
